.container-fluid{
    font-family: 'Laila', serif;
    margin: 20px;
    padding: 20px;
    border: 20px;
    background-color:rgb(126, 126, 98);
    color: black;
  }
  /* h1 {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    
  } */
  .container{
    background-color:rgb(143, 143, 110);
    border: 20px;
  }
  .navbar{
    color:black;
  }